      <h3><b>Upload Video</b></h3>
      <div class="wraparound" style="padding: 30px;">

        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Video-Title</label>
              <input type="text" class="form-control" id="inputEmail4" [(ngModel)]="Url.title" placeholder="@Title"
                [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Video-Tags</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="@Tags">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Video-Url</label>
            <input type="text" class="form-control" id="inputAddress" [(ngModel)]="Url.url" placeholder="@embed-url"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="inputAddress">User-Email</label>
            <input type="text" class="form-control" id="inputAddress" [(ngModel)]="Url.email" placeholder="@user-email"
              [ngModelOptions]="{standalone: true}">
          </div>
          <button type="submit" (click)="upload()" class="btn btn-primary">Upload</button>
        </form>

      </div>
