<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./dashboard.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <div class="categories">
    <section class="category-section">
      <button class="category active">All</button>
      <button class="category">Music</button>
      <button class="category">Drama</button>
      <button class="category">Gaming</button>
      <button class="category">Travel</button>
      <button class="category">Nature</button>
      <button class="category">Technology</button>
      <button class="category">M1 Macbook</button>
    </section>
  </div>
  <h2><b>Home Videos</b></h2>
  <div class="videos">
    <section class="video-section">
      <article *ngFor="let video of videos" class="video-container">
        <iframe class="thumbnail" [src]=cleanURL(video.urlname) frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="video-bottom-section">
          <a href="#">
            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
          </a>
          <div class="video-details">
            <button type="button" (click)="Like(video.urlname)" *ngIf="authService.loggedIn()"
              class="btn btn-outline-dark"><b>Like</b></button>
            <button type="button" *ngIf="!authService.loggedIn()" class="btn btn-outline-dark"
              disabled><b>Like</b></button>
          </div>
          <h5><b>{{likes}}</b></h5>
        </div>
      </article>
    </section>


  </div>
</body>

</html>
